# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/
.venv/
*.alert-bot/
.alert-bot

# IDE
.vscode/
.idea/
*.swp
*.swo

# AWS
response.json
*.pem
*.key

# Docker
.dockerignore

# Logs
logs/
*.log

# Temporary files
/tmp/
*.tmp

*.md
